{% extends 'base.html' %}
<title>
    {% block title %}
    Все посты
    {% endblock %}
</title>
{% block content %}

{% for post in posts %}
<div class="alert alert-light">
    <h1>{{ post.title }}</h1>
    <p> {{ post.text }} </p>
    <div class="col-md-10">
        <span class="text-muted"> <b>Публикация: </b>{{ post.pub_date|date:"j F Y, время: H:i:s" }} </span>
        <p><b>Автор:</b>
            <mark>{{ post.author }}</mark>
        </p>
    </div>
</div>
{% endfor %}

Все посты:
<div class="container">
    <h2>Все посты:</h2>
    <ul class="list-group">
        {% for post in posts %}
        <li class="list-group-item">{{ post }}</li>
        {% endfor %}
    </ul>

    <h2>Все пользователи:</h2>
    <ul class="list-group">
        {% for user in all_users %}
        <li class="list-group-item">{{ user.pk }}) {{ user }}</li>
        {% endfor %}
    </ul>

    <h2>Все категории:</h2>
    <ul class="list-group">
        {% for category in categories %}
        <li class="list-group-item">{{ category.pk }}) {{ category.title }}</li>
        {% endfor %}
    </ul>
</div>

<br>

<div class="container">
    <h2>Общая таблица:</h2>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>#</th>
            <th>Название поста</th>
            <th>Текст поста</th>
            <th>Дата публикации</th>
            <th>Автор</th>
            <th>Категория</th>
        </tr>
        </thead>
        <tbody>
        {% for post in posts %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ post.title|truncatechars:20 }}</td>
            <td>{{ post.text|truncatechars:20 }}</td>
            <td>{{ post.pub_date }}</td>
            <td>{{ post.author }}</td>
            <td>{{ post.categories.title }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
