{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="form-section">
        <h2> Кабинет пользователя </h2>
        <div class="media text-muted pt-3">
             <img class="mr-2 rounded" style="width: 64px; height: 64px;" src="{{ user.profile.img.url }}">
             <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-grey">
             <strong class="d-block text-gray-dark"><b>Имя:</b> {{ user.username }}</strong>
             <b>Email:</b> {{ user.email }}
             </p>
        </div>
    <h3 class="mt-4">Изменить данные о пользователе</h3>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ update_user|crispy }}
            {{ img_profile|crispy }}
            <br>
            <button type="submit" class="btn btn-outline-warning">Обновить данные</button>
        </form>
    </div>
{% endblock %}

