{% extends 'base.html' %}
{% load crispy_forms_tags %}
    <title>
        {% block title %}Регистрация пользователей{% endblock %}
    </title>
{% block content %}
    <div class="form-section">
      <h3>Регистрация на сайте</h3>
      <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-outline-warning">Зарегистрироваться</button>
      </form>
      <hr> Уже зарегистрированы? <a href="">Войти в личный кабинет</a>
    </div>
{% endblock %}